---

---

.posts {
    .post {

        &:not(:last-child) {
            border-bottom: 1px dashed #DDD;
        }

        h1 {
            font-size: 1.5em
        }

        .more {
            margin-bottom: 2px;
        }
    }
}

article.post {
    .post-header {
        h1 {
            font-family: 'Hind', sans-serif;
            font-size: 1.4em;
            margin-bottom: 15px;
            padding-bottom: 2px;
            border-bottom: 1px dashed #DDD;
        }
    }

    .post-meta {
        margin-bottom: 0px;
        text-align: right;
    }
}