<div style="margin-top: 20px">
    <span class="input-group-addon" title="BTC"><img src="{{ '/assets/BTC.svg' | prepend: site.baseurl }}" width="20" height="20" /></span>
    <input id="bc-address" type="text" class="form-control" value="13mGPcfPiahe21q9KjXQakffpxE1Y8qbz6" style="text-align:center;margin-top:5px" readonly>
</div>

<div style="margin-top:5px">
    <span class="input-group-addon" title="IOTA"><img src="{{ '/assets/IOTA.svg' | prepend: site.baseurl }}" width="20" height="20" /></span>
    <input id="iota-address" type="text" class="form-control" value="IJQUHNFIQMFRZZKTDYULVXPMBDJHNQZCMTZRGLHJNMJJKYIIPSLJKBGUGQ9ZVW9QZTWOPSW9SKBPMODSXOFRFKNKQW" style="text-align:center;margin-top:5px" readonly>
</div>