<div class="input-group">
    <span class="input-group-addon" title="BTC"><img src="media/BTC.svg" width="20" height="20" /></span>
    <input id="bc-address" type="text" class="form-control" value="1CDTVNKzdDZrvvdXkzhsYrVtiseDeZfBGE" readonly>
    <script>
        $("#bc-address").click(function () {
            $(this).select();
        });
    </script>
</div>

<div class="input-group" style="margin-top:5px">
    <span class="input-group-addon" title="IOTA"><img src="media/IOTA.svg" width="20" height="20" /></span>
    <input id="iota-address" type="text" class="form-control" value="IJQUHNFIQMFRZZKTDYULVXPMBDJHNQZCMTZRGLHJNMJJKYIIPSLJKBGUGQ9ZVW9QZTWOPSW9SKBPMODSXOFRFKNKQW" readonly>
    <script>
        $("#iota-address").click(function () {
            $(this).select();
        });
    </script>
</div>