<div class="nav">
    <a class="nav-link" href="{{ '/' | relative_url }}">
        <span class="hidden-xs">home</span>
        <span class="visible-xs"><i class="fa fa-fw fa-home"></i></span>
    </a>
    <a class="nav-link" href="{{ 'posts.html' | relative_url }}">
        <span class="hidden-xs">articles</span>
        <span class="visible-xs"><i class="fa fa-fw fa-book"></i></span>
    </a>
    <a class="nav-link" href="{{ 'support.html' | relative_url }}">
        <i class="fa fa-fw fa-heart"></i>
    </a>
</div>